html { overflow-y: scroll; 
	 }

:root {
  --my-col: rgb(0,	71,	211);
}

body {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  margin: 0px auto;
  width: 700px;
  max-width: 100%;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-align: justify;
  font-size: 130%;
}


nav {
  text-align: left;
  white-space: wrap;
  overflow: hidden;  
  text-overflow: ellipsis;	
  line-height: 1.5;

}


.tab {
 
}

.cell {
  text-align: center;
  white-space: wrap;
  overflow: hidden;  
  text-overflow: ellipsis;
  padding: 9px 15%;
  
}

.strtoptop {
  background-color: rgb(75,0,130,.15); /* Цвет фона под ссылкой */
  border-radius: 9px 9px 0 0;
}

.str {
  background-color: rgb(75,0,130,.05); /* Цвет фона под ссылкой */
  border-radius: 0 0 0 0;
  padding: 9px 0;
}

.strtop {
  background-color: rgb(75,0,130,.15); /* Цвет фона под ссылкой */
  border-radius: 0 0 0 0;
}

.strbot {
  background-color: rgb(75,0,130,.05); /* Цвет фона под ссылкой */
  border-radius: 0 0 9px 9px;
  padding: 9px 0;
}


.container {
  margin: 50px auto;
  font-size: 70px;
  }


.bor {
border: 2px solid gray; 
padding: 9px;
border-radius: 5px;
}  


@media screen and (max-width: 800px) {
  html { padding: 0 9px; }
}


@media all and (max-width: 650px) {
  
  nav {
    flex-wrap: ;
  }
  
  nav > div {
    flex-basis: ;
  }
  
  nav .ka {
    text-align: ;
  }

  nav .sa {
    text-align: ;
  }
  
}


span.keeptogether {
  white-space: nowrap ;
}

a:link, a:visited {
  color: var(--my-col);
  border-radius: 5px;
  background-color: rgb(0,71,211,.1); /* Цвет фона под ссылкой */ 
}

/* a:visited {
  color: Indigo;
  border-radius: 5px;
  background-color: rgb(75,0,130,.1); 
} 
*/

a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
   }

a:hover, a:active {
  background: var(--my-col); /* Цвет фона под ссылкой */ 
  color: White; /* Цвет ссылки */
  border-radius: 5px;
}

/* katex подработка */
a.he:hover, a.he:active {
  background: var(--my-col); /* Цвет фона под ссылкой */ 
  color: White; /* Цвет ссылки */ 
  display: inline-block;
}

a img {
  border: 0;
}

a.na:link, a.na:visited {
  color: var(--my-col);
  background: rgba(165, 42, 42, 0.2); /* Цвет фона под ссылкой */
  border-radius: 5px;
}

a.na:hover, a.na:active { 
  background: var(--my-col); /* Цвет фона под ссылкой */ 
  color: White; /* Цвет ссылки */   
}


.nobul {
  list-style-type: none;
}

.katex .base:last-child {
  display: inline;
}

.katex { line-height: .5 !important; }

.katex > .katex-html {
	white-space: normal;
}


svg path {
fill:inherit;
stroke:inherit;
}

.icon-youtube:link, .icon-youtube:visited {
  fill: var(--my-col);
}

.icon-youtube:hover, .icon-youtube:active {
 fill:White;
}



.nei {
  padding: 5px 9px;
  text-align: left;
}

.boxbor {
  border: 2px solid gray;
  padding: 0px;
  border-radius: 5px;  
}

.neib {
  padding: 5px 9px 9px 9px;
}


ul li {
  margin-bottom: 6px;  
}

ul.lef li {
  text-align: left;
}

.nobul li::marker {
  content: "";
}


h1 {
  text-align: left;
  font-size: 170%;
  margin-top: 50px;
  text-shadow: 1px 1px 3px var(--my-col);
}

h2 {
  text-align: left;
  font-size: 140%;
  margin-top: 40px;
}

h3 {
  text-align: left;
  font-size: 120%;
  margin-top: 30px;
}


.news {
  margin: 0;
}


.vert {
  margin-top: 40px;
}
